</head>

<body>

      <section id="header">
				<div class="my-nav-bar">
					<ul>
						<li> <a href="#">Home</a> </li>
						<li> <a href="#about-me"> About Me </a> </li>
						<li> <a href="#projects"> Projects </a> </li>
						<li> <a href="#contact-form"> Contact Form </a> </li>
					</ul>
				</div>
			</section>
		
			<section id="about-me">
				<div class="my-container">
						<h2>About</h2>
						<img src="assets/images/wallpaper.jpg" alt="Sunny Gupta's Profile Picture" width="20%"/>
						<p>Hello, welcome to my first website. <br/>
							I am a software developer.</p>
				</div>
			</section>
		
			<section id="projects">

				<div class="my-container">
          <h2>Projects</h2>
          <div class="projects-container">
            <div class="project">
              <h3>Scaler Edge Website</h3>
              <p> We worked on this project using HTML, CSS & JS </p>
            </div>
            <div class="project">
              <h3>Multi Factor Website for Smart Phones</h3>
              <p> Cross device framework using React </p>
            </div>
            <div class="project">
              <h3> Fab.com </h3>
              <p> We built a world class e-Commerce website using vanilla JS. </p>
            </div>
          <div>
        </div>

			</section>
		
			<section id="contact-form">
				<div class="my-container">
          <h2>Contact Me</h2>
          <form action="mailto:sunny@icodestartups.com" method="post" enctype="text/plain">
            <input type="text" name="yourname" placeholder="Your Name" />
            <input type="email" name="email" placeholder="Your Email" />
            <input type="text" name="comment" placeholder="Your Comments" />
            <button type="submit">Send</button>
          </form>
        </div>
			</section>
		
			<section id="footer">
				<h2>Footer</h2>






  <!-- Build your first site here -->
  <ul>
    <li> <a href=""> Samarth Gupta Edited </a> </li>
    <l1> <a href="#header"> Home </a> </li>
      <li> <a href="#about"> About </a> </li>
      <li> <a href="#projects"> Projects </a> </li>
      <li> <a href="#contact"> Contact </a> </li>
      <li> <a href=""> Facebook </a> </li>
      <li> <a href=""> Twitter </a> </li>
      <li> <a href=""> Instagram </a> </li>
      <li> <a href="https://linkedin.com/in/namanbhalla"> Linkedin </a> </li>
  </ul>

  <section id="header">
    <h1> This is header </h1>
    <p>

      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
      aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
      enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
      ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
      adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
      voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
      aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
      molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
    </p>
  </section>

  <section id="about">
    <div class="container">

      <div class="container about-me">
        <h1> About Me </h1>
        <p> Hi there! I am a software engineer! </p>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="My Image" height="80%"
            width="80%">
        </div>

        <div class="col-md-6 col-sm-12  skills-column">

          <h3> Sports </h3>
          <p> I play a lot of games.</p>

          <h3> Computer Games </h3>
          <p> I play a lot of computer games.</p>

          <h3> Programming </h3>
          <p> I love to code.</p>

        </div>

      </div>

    </div>
  </section>

  <section id="projects">
    <h1> This is projects </h1>
    <p>

      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
      aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
      enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
      ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
      adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
      voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
      aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
      molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
    </p>
  </section>

  <section id="contact">
    <h1> This is contact </h1>
    <p>

      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
      aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
      enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
      ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
      adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
      voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
      aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
      molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
    </p>
  </section>
  <h1> Naman Bhalla </hi>



    <!-- Footer -->
    <footer class="page-footer font-small blue">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        Built with love during <a href="https://www.scaler.com/edge/">Scaler Edge</a> Workshop.
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->

</body>

</html>
